@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
	}
}

body {
	@apply font-sans;
	background-color: #0c0950;
}

@keyframes slideUp {
	from {
		transform: translateY(100%);
	}
	to {
		transform: translateY(0);
	}
}

.slide-up {
	animation: slideUp 1s ease-in-out 1s forwards;
}
