@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
	}
} */


