/* Replace the old directives with these new imports */
@import "tailwindcss/preflight"; /* replaces @tailwind base */
@import "tailwindcss/utilities"; /* combines components and utilities */

@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@layer base {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		outline: none;
	}
}


